---
---
<section id="Spot" class="w-full h-full flex justify-center items-center max-w-[400px] mx-auto py-10 px-2">
    <iframe class="w-full h-auto aspect-[9/16]" src="https://www.youtube.com/embed/mp-6wUO6A-M" title="40 horas ¡Ahora!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</section>

