<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="shortcut icon" href="favicon.svg" type="image/x-icon" />
		<meta
			name="description"
			content="Somos los que logramos más vacaciones, la Ley Silla y vamos por las 40 horas."
		/>
		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://bancadanaranja.mx" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Bancada Naranja" />
		<meta
			property="og:description"
			content="Somos los que logramos más vacaciones, la Ley Silla y vamos por las 40 horas."
		/>
		<meta
			property="og:image"
			content="https://bancadanaranja.mx/OgImage.png"
		/>

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:domain" content="bancadanaranja.mx" />
		<meta property="twitter:url" content="https://bancadanaranja.mx" />
		<meta name="twitter:title" content="Bancada Naranja" />
		<meta
			name="twitter:description"
			content="Somos los que logramos más vacaciones, la Ley Silla y vamos por las 40 horas."
		/>
		<meta
			name="twitter:image"
			content="https://bancadanaranja.mx/OgImage.png"
		/>
		<title>Bancada Naranja</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	@font-face {
		font-family: "MontserratBlack";
		src: url("/public/Fonts/Montserrat-Black.ttf");
	}
	@font-face {
		font-family: "MontserratBold";
		src: url("/public/Fonts/Montserrat-Bold.ttf");
	}
	@font-face {
		font-family: "MontserratMedium";
		src: url("/public/Fonts/Montserrat-Medium.ttf");
	}
	@font-face {
		font-family: "MontserratSemiBold";
		src: url("/public/Fonts/Montserrat-SemiBold.ttf");
	}
	@font-face {
		font-family: "MyriadRegular";
		src: url("/public/Fonts/Myriad-Regular.otf");
	}
	@font-face {
		font-family: "PoppinsBlack";
		src: url("/public/Fonts/Poppins-Black.ttf");
	}
	@font-face {
		font-family: "TuskerGrotesk";
		src: url("/public/Fonts/TuskerGrotesk.ttf");
	}
	html {
		scroll-behavior: smooth;
	}
</style>
