<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="shortcut icon" href="favicon.svg" type="image/x-icon">
		<title>La Bancada Naranja</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	@font-face {
		font-family: "MontserratBlack";
		src: url("/public/Fonts/Montserrat-Black.ttf");
	}
	@font-face {
		font-family: "MontserratBold";
		src: url("/public/Fonts/Montserrat-Bold.ttf");
	}
	@font-face {
		font-family: "MontserratMedium";
		src: url("/public/Fonts/Montserrat-Medium.ttf");
	}
	@font-face {
		font-family: "MontserratSemiBold";
		src: url("/public/Fonts/Montserrat-SemiBold.ttf");
	}
	@font-face {
		font-family: "MyriadRegular";
		src: url("/public/Fonts/Myriad-Regular.otf");
	}
	@font-face {
		font-family: "PoppinsBlack";
		src: url("/public/Fonts/Poppins-Black.ttf");
	}
	@font-face {
		font-family: "TuskerGrotesk";
		src: url("/public/Fonts/TuskerGrotesk.ttf");
	}
	html {
		scroll-behavior: smooth;
	}
	.customOverlay {
		background: rgba(36, 123, 160, 0.7);
	}
	.customModal {
		background: #b2dbbf;
		max-width: 500px;
		width: 100%;
	}
</style>
